[2017-03-28 07:42] gagarin55 opened #39 "React Native compatibility"
I've tried to use uport-connect lib in react-native app and got error:

[code]

Is it compatible for mobile application?

[2017-03-29 16:44] zachferland commented on #39
@gagarin55 I have not personally used uport-connect in a react-native app yet, but we plan for it to be compatible.

I am assuming you do not need any QR code functionality in a native app? In that case you can use the ConnectCore object instead of the Connect object. We have not documented this well yet, but it is similar to Connect (except without QR lib and web3, also requires more custom funct

[2017-03-30 13:26] gagarin55 commented on #39
Ok, I've changed to:
[code]

And next issue I've caught:

[code]

I suppose this connected with `crypto` module which available on node.js platform.

[2017-04-10 20:26] gagarin55 commented on #39
Ok, I've moved further.

1. I've used `rn-nodeify` module to shim native nodejs modules. But I faced with problem with `jsontokens` package then. It hasn't been working until I commented one line in `secp256k1.js`:

[code]
We need to solve this issue somehow ;(

2. So, now I can compile my react native app with such code:
[code]

But it result in error:

[code]

**The question is**: What is correc

[2017-04-10 21:44] pelle commented on #39
@gagarin55 We are planning a library for it shortly, but in the mean time you need to build a browserified version of uport and setup a special topicfactory to use App linking.

https://gist.github.com/pelle/68287cb55253272a10d9ee9a6f7aeaf1

This should get you started, but as I say we will have a fairly plug and play solution shortly

[2017-04-18 16:24] shihjay2 opened #52 "sendTransaction function goes blank on uPort app"
With a web3.connect.sendTransaction function, the uPort app screen goes blank after the QR code is scanned.  Doesn't seem to have been addressed by commit 0ec4fd88ae96fd2f8c61e5c4a532fea29f68786a

[2017-04-20 04:05] shihjay2 commented on #52
For some reason installing from npm install uport-connect worked for release 5.6 worked but not through git clone and then npm install.  Appears to be fixed.

[2017-04-20 04:05] #52 closed

[2017-04-26 00:12] ajunge opened #53 "missing showRequest()"
as stated here https://github.com/uport-project/uport-js#requesting-information-from-your-users

[2017-04-26 02:36] #53 closed

[2017-05-21 11:42] ticruz38 opened #55 "no default signer"
[code]
The default uport-connect server seems to be setted up without a signer, since writing this show me that error
[code]
From what I've been reading from uport-js you need to set up a private key to the SimpleSigner constructor server side.
Is there a way for me to setup a signer knowing that im only using uport-connect client side on the ropsten network?

[2017-06-23 20:30] JohnAllen opened #62 "Favicon Link Doesn't Work"
At: https://github.com/uport-project/uport-connect/blob/develop/tutorial/friendwallet_step1.html#L10

[2017-06-25 10:53] davidperrenoud commented on #39
At the moment (web3.js 0.19.0) you also need to update bignumber.js otherwise you will get `Unable to resolve module crypto from bignumber.js `:

https://github.com/ethereum/web3.js/issues/576#issuecomment-310031753

[2017-06-29 20:04] #62 closed

[2017-08-01 00:32] danielchristopher1 opened #65 "iOS compatibility"
Hi,

I want to call uPort in my iOS app using Swift so I can sign transactions and manage each user's identity. I figured I could somehow load the files for uport-connect using a webview and make the calls I need. Is this practical? If so, could I get some direction on where to start?

Thanks!

[2017-08-14 12:02] wighawag opened #67 "Issue with the uport app upon rejecting transaction while on the same phone as the dapp run"
Hi, I have posted this issue on the gitter channel but since I did not get an answer and cannot find a better place to post issue for the uport mobile app, I am posting here :

I have been testing the uport app by interacting with a dapp running on the browser of that **same** phone and that's really cool. I just noticed something a bit annoying: when denying a transaction, the user is brought bac

[2017-09-16 19:59] ahmb84 opened #73 "Issue with redux"
Since the last update of uport-connect there seem to be issues with redux in the state change.
For example with uport-demo when connected the NavBar does not display the avatar.

Thanks

[2017-09-17 12:41] oed commented on #73
The new uport app does not give you the avatar and name by default anymore. You have to  explicitly request 'avatar' and 'name' when calling `requestCredentials`

[2017-09-17 12:42] ahmb84 commented on #73
@oed Thanks for the answer!

[2017-09-22 15:59] davidperrenoud commented on #39
If you use `react-native-navigation` on Android, you also need to patch the MainActivity otherwise you get the splash screen when switching back to your Android app:

https://gist.github.com/mirceanis/435625d9f4fe4dbcff6f697d22b78a7e

[2017-09-30 03:09] reachosen opened #75 "uPort Phone App QR Code scanner consistently not scanning"
Context: Uport App version 253 used in an Iphone 7 plus

When running Uport Dapp Tutorial

Event 1 :Success:I am able to Connect UPort - I was able to scan my QR Code

Event 2: Fail : When i try to Send Ether, QR Code is not able to be scanned by my iphone 7

Event 3: Fail : When i try to status the QR Code gets generated but Uport App in iphone is not able to scan the QR code.

[2017-09-30 03:13] reachosen opened #76 "Auto Refresh the balances if possible or atleast give the refresh button right after balances so user can be prompted"
Context: Uport App version 253 used in an Iphone 7 plus

When running Uport Dapp Tutorial

Pass: I transferred to an ETH Address 15 Ethers. It shows correctly  in the Uport_tutorial.html web page

Passed but very unclear: In the Uport Mobile app showed 0 balances after repeated visits. The refresh button is way down and i tried refreshing and it did refresh to 15 Ethers. But a better experience wi

[2017-10-09 22:02] dfcreative opened #81 "iOS activation problem"
Hello @uport-project team!

I have a problem activating the uPort from my iPhone5. I hope you will forward the issue to proper tracker.

The problem is UX: I can't hide numpad on code verification screen:
![image](https://user-images.githubusercontent.com/300067/31360857-545e88ec-ad1e-11e7-9f86-b487031a17b5.png)
So I can't reach the <kbd>Next</kbd> button.

[2017-10-24 08:34] difficultashish opened #85 "Did not enter SMS verification code within 5 minutes, can't create identity with that phone number anymore"
![img_0256](https://user-images.githubusercontent.com/946298/31932548-32459e56-b8c4-11e7-9e09-d4f13e489637.jpg)

[2017-10-28 18:31] sjkelleyjr commented on #39
@pelle when is the plug and play happening?

[2017-11-13 12:22] oed commented on #76
This should be fixed in the latest version of the app.

[2017-11-13 12:22] #76 closed

[2017-11-13 12:23] oed commented on #75
Is this still the case with the latest version of the ios app?

[2017-11-13 12:24] oed commented on #81
This should be addressed in the latest version of the uport app.

[2017-11-13 12:24] #81 closed

[2017-11-13 12:24] oed commented on #85
Thanks for reporting. We are aware of this problem and are working on a fix.

[2017-11-13 12:27] oed commented on #85
Did you try this again btw? You should be able to use the same phone# after a while.

[2017-11-13 21:45] reachosen commented on #75
Testing with App Version 276 as of this morning and afternoon of 11/13/2017

I tried various exercises mentioned under https://developer.uport.me/(ie.Request Credentials, attestations and signing transactions)
Tested with Iphone 6 plus

Observations:
the QR Code scanning is very consistent. It works consistently for one hour and later does not for an hour today.

[2017-11-14 23:21] gbugyis commented on #75
@reachosen - what exactly happens in the cases where it doesn't work? Do you see the notification?

[2017-12-16 14:00] radek1st opened #90 "calling payable functions doesnt send the correct amount of ether"
I'm calling a payable function and trying to send there some eth like this (`amount = 0.1`):

[code]

In the request confirmation on the phone, the value is always different:

![img_4512](https://user-images.githubusercontent.com/246085/34071108-5cd6f112-e2c5-11e7-8dad-149f04616405.PNG)

| Expected (eth) | Actual (eth) |
| ------------- | ------------- |
| 0.1  | 295.1479..  |
| 0.01  | 18.44 |
|

[2017-12-19 21:50] KamesCG opened #91 "Incorrect Epoch Time in Attest Credentials Creates "limbo" Notifcations"
After testing with demo data from the docs using connection.attestCredentials() I noticed my "attestments" were appearing blank within  the smartphone application.

After some fiddling I realized it was an old unix/epcoh time misconfiguration causing the issue.

Now I have 11 notifications sitting in my application and when I attempt to interact with them the uPort application crashes.

Should a j

[2017-12-21 12:52] zachgoll opened #92 "Mobile/Desktop device detection not working"
I am integrating uport into an Angular app, but when I call the following code, uport is detecting that I am on a mobile device.  I am using

[code]

[code]

The `console.log(uport)` emits the following object (notice `isOnMobile=true`):

[code]

Because of this, the QR popup does not fire.

[2017-12-21 19:59] abe732 commented on #39
@sjkelleyjr @pelle also curious when this might be up and running

[2017-12-24 14:33] KamesCG opened #93 "uPortConnect.requestCredentials | Incorrect Documentation"
It would seem the documentation contains an error: https://developer.uport.me/guides.html#custom-qr-styling-(web)

The credentials object requires a closing "}" before the URI callback function.

The WebPack demo has the correct implementation.

[code]

[2017-12-24 18:10] KamesCG commented on #93
Also in https://developer.uport.me/apidocs.html#ConnectCore+attestCredentials

Needs "," after object properties.

const cred = {
   sub: '0xc3245e75d3ecd1e81a9bfb6558b6dafe71e9f347'
   claim: {'email': 'hello@uport.me'}
   exp: '1300819380'
 }
 connect.attestCredentials(cred).then(res => {
   // response okay, received in uPort app
 })

[2017-12-28 10:57] ryanmilvenan opened #94 "iOS Client cannot move past the 'Continue' screen"
After scanning a QR code, and being presented the screen in which the user is asked to consent to sharing a subset of requested personal information, the 'Continue' button on iOS is non-functional. If an external reason is the cause as to why it isn't functional, there is no messaging to the user to indicate what has gone wrong, or why continuing is not possible.

[2017-12-28 11:47] oed commented on #94
Can you provide some more information? What application are you trying to scan a QR from? What version of the Uport app do you have?

[2017-12-28 20:48] ryanmilvenan commented on #94
Latest iOS release. Gnosis, the demo app. It is the same behavior with any dApp, the requesting dApp is identified, but you cannot confirm.

[2017-12-30 06:44] #73 closed

[2018-01-04 14:57] oed commented on #90
Thanks for reporting, we are investigating.

[2018-01-11 04:06] #94 closed

[2018-01-13 15:50] AlbertoElias opened #95 "requestCredentials not working on Firefox"
I've tried in my own usage of this library, but also using demo.uport.me and the app manager, and after scanning the qr code and accepting sharing information, there's an error logged in all cases when using Firefox:

`Error: [uport-lite] status 0:`

[2018-01-15 08:19] oed commented on #95
I'm unable to replicate this. Could it have to do with the firefox version maybe?
Usually when there is an error with `uport-lite` it's some kind of network error btw.

[2018-01-17 15:27] AlbertoElias commented on #95
I'm using Firefox Nightly. And it's working at the same on Chrome while it doesn't on Firefox. I also checked that it wasn't an adblocker issue. Let me know if there are any specific tests I can try to check more specifically was't failing

[2018-01-17 16:22] oed commented on #95
Strange, it's working for me with firefox 57.0.4, maybe it's because of the nightly?
 @zachferland do you have any ideas?

[2018-01-20 10:30] AlbertoElias commented on #95
I tried with that Firefox version in my other laptop that has Firefox stable installed and it worked fine. I'll leave the decision to leave the issue open up to you, not sure if looking at Firefox nightly is worth your time or not. Thanks a lot for the help, really appreciate it!

[2018-01-25 19:27] zerostatic opened #97 "How to get access to uPort from a mobile Browser"
I've developed a simple DApp that uses uPort and it works fine on Desktop - where I can login through uPort with the QR Code. On a mobile browser (Anrdoid Chrome) I'm auto directed to uPort where it asks me to "continue", then I'm redirected back to my app on mobile where the URL now has a hash of /access_token="{token-here}" But now uport.requestCredentials() doesn't return the uPort Profile. Am

[2018-01-25 19:31] Eseoghene commented on #97
Thank you for reporting this issue we will get back to you shortly

[2018-01-29 06:40] justinmchase opened #98 "Callback for requestCredentials is never called"
I followed the steps to register an app and I have one listed here: http://developer.uport.me/myapps.html

But the promise callback for `requestCredentials` is never called. When I call it I am successfully seeing the QR code in the popup and I am then using my phone app to scan it. It pops up a request saying an "unidentified dApp is requesting this information".

![screenshot_20180129-003507](ht

[2018-01-29 06:42] Eseoghene commented on #98
Thank you for reporting this issue we will get back to you shortly

[2018-01-30 15:03] bdresser commented on #85
hi @difficultashish – we added a captcha anti-sybil mechanism as a backup to SMS in v297 of the uPort app. SMS verification isn't perfect, so we needed an alternate onboarding path for users who experience troubles like what you're describing.

Let us know if this resolves your issue.

[2018-01-31 08:25] justinmchase commented on #98
Ok, I figured it out sort of. I think it was because I had `notifications: true` but never got the push notification on my phone, instead I manually scanned the QR code. I altered my example code to be this and then it worked:
[code]

[2018-01-31 08:26] justinmchase commented on #98
So I would either say close this or consider it a bug with not receiving push notifications.

[2018-01-31 11:00] justinmchase opened #99 "I can't quite get the tutorial to work"
When I call the status contracts `getStatus` / `updateStatus` it seems to succeed but subsequent calls to `getStatus` always return null.

I am noticing that as I call `updateStatus` I can see that it is just using the senders address ([Line 8](https://rinkeby.etherscan.io/address/0x70a804cce17149deb6030039798701a38667ca3b#code)). So I'm wondering if the senders address is different from the one i

[2018-01-31 11:01] Eseoghene commented on #99
Thank you for reporting this issue we will get back to you shortly

[2018-02-01 04:38] justinmchase commented on #99
Slight update on this, I figured out that I can just call getStatus right on the status instance and it triggers a Get Status transaction on my phone after scanning the barcode with uPort. But it appears to return a transaction id not the value of the status. I'm not sure how to get the result given the transaction id.

[code]

[2018-02-01 14:12] #85 closed

[2018-02-01 17:32] zachferland commented on #97
@zerostatic your browser may be opening a new tab rather than returning to the same tab/page where uport-connect would have a listener awaiting the return and to fetch the access_token, as well as handle it.

In future we are working on improving and handling this flow, alternatively yes you can handle it manually right now. To handle it you can manually grab the access token from the url. This is

[2018-02-09 23:08] hentsai commented on #53
@ajunge did you ever find the solution to the missing function before closing the issue? Is so would you be able to share it here?

[2018-02-11 18:29] vongohren commented on #39
@pelle @zachferland any progress on this? You guys are saying you are making apks for android and iOS, but what about this?

[2018-02-13 04:31] jacque006 opened #100 "Create uPort identity without use of mobile app."
Is there a way to create/manage a uPort identity without use of the mobile Android/iOS app?

I have a native mobileapplication I am developing where the ideal signup flow would be using a one-click signup registration (Facebook/Google) which I can then use to populate a new uPort identity for new users. I would then go through the normal uPort/dApp registration.

I want to do this to ensure my use

[2018-02-13 04:36] Eseoghene commented on #100
Thank you for reporting this issue we will get back to you shortly

[2018-02-13 18:05] grahamturk opened #101 "No transaction hash available in request"
The [guide](https://developer.uport.me/guides.html) instructs us to call a contract's transaction-signing method with the following code:

`MyContract.someMethod(METHOD_INPUT_DATA, (error, txHash) => {...`

However, when I used that format in my code for a function with no input data and try to confirm the transaction, I get the error "No transaction hash available in request" in the uPort app.

M

[2018-02-13 18:12] Eseoghene commented on #101
Thank you for reporting this issue we will get back to you shortly

[2018-02-13 18:28] bdresser commented on #100
hey @jacque006, thanks for reaching out.

we're currently building a set of mobile SDKs that will let developers create Ethereum accounts for users within their mobile app. we're hoping to have the first version live in a couple weeks.

To use the full uPort attestation / selective disclosure functionality, the user will still need to download the uPort app. For now, we think it's important to pre

[2018-02-14 03:12] jacque006 commented on #100
Thanks @bdresser , appreciate the quick response. I'll keep an eye out for the mobile SDKs. The JS one you mentioned may be usable in my case as I'm planning on using react-native. Might just have to shim some dependencies to get it working.

[2018-02-14 03:19] bdresser commented on #100
nice 😄

gonna close this for now -- feel free to ping in [gitter](https://gitter.im/uport-project/Lobby) if you have any questions about working with the JS client and I can make sure someone on our team helps you out.

[2018-02-14 03:19] #100 closed

[2018-02-14 17:22] grahamturk commented on #101
I'm getting the same error when trying to sign the transactions to buy shares in the uPort [demo app](https://demo.uport.me/).

[2018-02-15 11:38] oed commented on #98
@justinmchase you don't get push notifications on demo.uport.me?

[2018-02-15 13:59] justinmchase commented on #98
Yeah something is not working right, it doesn't actually work with notifications off either. It's true I get the QR code and can scan it but then basically nothing happens after that.

It may be related to the state of the app? The pop-up in uport always says unidentified app but I'm not sure why.

[2018-02-17 12:34] riyazpanarwala commented on #97
I am facing the same thing.
any update on above issue ??

[2018-02-22 10:54] oed commented on #98
That sounds wrong. It should definately not say unidentified app in the demo-app. Are you using a proxy or anything that could be blocking some ports?

[2018-02-22 18:32] bdresser commented on #65
@danielchristopher1 not currently possible, but we do have iOS & android SDKs in development - keep an eye out for a v1 in the next couple weeks. it'll allow you to create recoverable ethereum accounts for your users from within your mobile app.

[2018-02-22 18:32] #65 closed

[2018-02-22 18:33] bdresser commented on #67
@wighawag i believe this issue was fixed in a recent release - could you confirm if it's been resolved or if you're still seeing it?

[2018-02-22 18:34] #75 closed

[2018-02-22 20:25] justinmchase commented on #98
I don't think so, what ports should I be looking to open? That would just be on my phone on in the uPort app itself.

[2018-02-22 21:38] bdresser commented on #39
@vongohren @gagarin55 we've started working on a react native wrapper for our uPort-connect library so that you'll be able to use basic request / attest functionality from within your RN mobile app.

we'll ping here with updates 👍

[2018-02-22 21:50] bdresser commented on #91
@KamesCG thanks for chiming in :)

for now, we're counting on applications to make sure they're using the correct timestamp. if you want to take a stab at providing some safety utility to help out, PRs are welcome.

our android wizard @mirceanis is aware of the android notifications crash and we're hoping to get a fix out soon.

[2018-02-22 22:03] bdresser commented on #97
@riyazpanarwala, check out the response above. unfortunately, we are somewhat reliant on opening a response in the same mobile browser tab. if that doesn't happen, your app should grab the access token and handle it manually. we are hoping to put together some more thorough documentation on how you can work around this issue.

[2018-02-22 22:14] bdresser commented on #98
@justinmchase can you confirm your app was created on Rinkeby?

And could you please run through the [demo flow](demo.uport.me) and let us know if you see the demo appear as "unidentified dapp" or "uPort Demo App"

if the demo app doesn't load either, this could be an issue with the mobile app rather than this library. what OS, device, app version are you on?

[2018-02-23 05:00] riyazpanarwala commented on #97
It will be great if you guys provide documentation. Thanks for your reply.

[2018-02-23 05:48] vongohren commented on #39
@bdresser is it going to be closed sourced or something we can help you guys with and start playing with now?

[2018-02-26 04:56] bdresser commented on #39
@vongohren @Kasubramanian it will be open source! not quite ready to welcome more hands yet, but i'll make sure to let you know when you can starting using & contributing 😄

[2018-02-26 09:34] grahamturk commented on #101
@Eseoghene Any update on this issue? The demo app is still breaking when I try to sign a transaction.

[2018-02-27 10:30] safareli opened #103 "Some Issues regarding Connect API"
Currently `Connect` takes `opts` in which we could have `mobileUriHandler` and `uriHandler` but one `closeUriHandler`. also it could have undocumented field `isMobile` which is used to determine which uri handler should be used. and just to be able to decetct isMobile by we have`mobile-detect` dependency.

I see it's done so it's easy to make it just work in all environments. but now API is a bit

[2018-02-27 10:35] Eseoghene commented on #103
Thank you for reporting this issue we will get back to you shortly

[2018-02-27 21:11] bdresser commented on #101
@grahamturk sorry to hear about the trouble. Demo app is working fine for me -- this might be an issue with the mobile app. What uPort version, device, OS are you on?

[2018-03-01 09:38] oed commented on #101
@bdresser This might be an issue related to meta transactions. Once we know app version and platform it shouldn't be to hard to debug.

[2018-03-01 09:40] oed commented on #65
@danielchristopher1 if you want to communicate with uport manually you can refer to https://github.com/uport-project/specs/ which contains all information needed for applinking between your app and uport.
cc @bdresser

[2018-03-05 23:38] schaudhry123 commented on #98
I am running into the same issue where my app is showing up as "unidentified app." When I use the uPort demo flow, the request shows up correctly on my phone as "uPort Demo."

When I try requesting credentials from my app, it shows up as "unidentified app" and never continues to the callback function.

[code]

Interestingly enough, if I remove the configurations of my application and leave it as t

[2018-03-06 11:00] grahamturk commented on #101
Running iOS 10.3.3, uPort app version 309. However I cannot recreate the bug anymore so it's possible that it was a fluke (e.g. bad internet connection or malformed request by my contract-calling code). The demo app also works fine now as well for me.

[2018-03-06 12:52] oed commented on #101
@grahamturk thanks for reporting back! I'll close this for now.

[2018-03-06 12:59] oed commented on #98
@schaudhry123 It sounds like there is something up with your app identity. Can you double check that the `<Signing Key>` is the owner of the proxy contract with address `clientId`?
If the problem remains, can you try creating a new app identity using appmanager?

[2018-03-06 16:35] mburtless commented on #98
I'm experiencing the exact same issue as @schaudhry123.   As soon as I include my app's address and signing key in the Connect object, my callback function will no longer execute.  After scanning the QR code, the request also shows up as "unidentified app" in the client.  I've created a new app identity using appmanager, and I get the same result when using those values.

I'm using the values that

[2018-03-06 18:38] oed commented on #98
@mburtless hm, looks like you are doing everything right. I have no intuition why that happens. Your app shows up correctly when you log in to appmanager, no?

[2018-03-06 21:23] mburtless commented on #98
@oed - I think I figured this out.  Essentially, apps created while using appmanager via desktop Chrome exhibited the behavior above.  However, creating a new app via Android Chrome works as expected.

The 2 apps created via desktop Chrome showed up in appmanager.  However, they are only populated with the correct address and no other details, except Name, which is represented as an 8 char hex add

[2018-03-07 14:05] grahamturk opened #105 "Support Web3 1.0.0"
I'm getting an error that UportSubprovider does not support the web3-1.0's subscribe() method. This makes it impossible for a user to monitor changes to a smart contract's state caused by other users (e.g. the highest bid being increased in an auction). Infura now supports this functionality through the WebSocketProvider as referenced in [this issue report](https://github.com/INFURA/infura/issues/

[2018-03-07 14:08] Eseoghene commented on #105
Thank you for reporting this issue we will get back to you shortly

[2018-03-07 16:45] grahamturk commented on #105
I am also discovering that emitted events do not appear in the `logs` property of the object returned by `web3.eth.getTransactionReceipt(txHash)` where `txHash` is the transaction hash returned by a contract method.

[2018-03-07 22:14] KamesCG commented on #103
@safareli You are correct, regarding the mobileUriHandler and uriHandle setup. We are using `mobile-detect` to toggle the `isMobile` flag during runtime.

Future updates to uPort Javascript libraries will include improvements to `callback transport layer`, to manage the "strange" API.

That is great feedback, especially in context to a separate React Native module. uPort (in addition to Javascript

[2018-03-08 08:15] oed commented on #105
We do not currently support web3 1.0 as you noted. Will have to take a closer look at how much work this would be. Thanks for bringing it to our attention!

[2018-03-08 09:42] grahamturk commented on #105
@oed you're welcome! Please let me know if there's anything I can do to contribute.

[2018-03-08 09:53] oed commented on #105
@grahamturk looking more closely at this it looks like it should be an easy fix. However I think it should be possible to use a websocet provider already if you pass it to the contstructor of uport connect, [see here.](https://github.com/uport-project/uport-connect/blob/develop/src/ConnectCore.js#L76)

For making this library use websockets by default we just need to change [this line](https://git

[2018-03-08 13:05] grahamturk commented on #105
@oed I actually tried that yesterday. Here's what my code looks like:

[code]

Then I grab the web3 object with:
`const web3 = uport.getWeb3()`

I then instantiate my Solidity contract with:
`web3.eth.contract(CONTRACT_ABI).at(DEPLOYED_ADDRESS)`

This web3 object does not have an `eth.subscribe` method, which I expected since the web3 object is instantiated by your code. But the real issue is that

[2018-03-08 13:29] oed commented on #105
Ok, seems like the provider interface might have changed in web3 1.0 then maybe? There is probably no easy fix then. I'm not to familiar with the provider code myself, feel free to do a deep dive, but this is something that we want to get to soon.

[2018-03-08 16:14] grahamturk commented on #105
@oed after poking around all afternoon, I agree that there's no easy fix. It seems like MetaMask also has this issue. I'll keep looking for workarounds. I would also greatly appreciate any updates from your end about supporting web3 event subscriptions since I would love to keep working with uPort.

[2018-03-12 21:40] bdresser commented on #39
hey all - quick update here. we're still in the process of refactoring the "transport" layer of uPort-connect. this'll lay a more stable groundwork for a RN wrapper. thanks for your patience! i'll be back with updates as we have them

[2018-03-14 03:45] Kasubramanian commented on #39
Thanks @bdresser for the update. eagerly awaiting for the release to use!!

[2018-03-14 16:52] justinmchase commented on #98
I also created my app with Chrome desktop. Are apps created via chrome desktop permanently borked then?

[2018-03-15 20:12] safareli opened #106 "infuraApiKey is not used at all"
If you search for `infuraApiKey` in the codebase it's not used at all, so is there a reason for it to exist?

[2018-03-15 20:14] Eseoghene commented on #106
Thank you for reporting this issue we will get back to you shortly

[2018-03-17 12:58] safareli opened #109 "Question/Thoughts about SimpleSigner usage on client site"
When `requestCredentials` is called If `requested` and/or `verified` array is not empty then the Connect instance must have signer set.

In all of the examples signer is set to `SimpleSigner('PRIVATE_KEY_OF_APPLICATION')`, but It means if someone is actually doing this, the private key is visible to all users and anyone can attest in name of the application anything to themselves.

So for real app

[2018-03-17 12:59] Eseoghene commented on #109
Thank you for reporting this issue we will get back to you shortly

[2018-03-18 00:58] vongohren commented on #39
@bdresser this is cool! I have started to talk to both Kames and Zach on your team for a closer collaboration, we will see where that ends.

[2018-03-19 18:03] KamesCG commented on #109
Hi @safareli

Correct.

Correct.

We're currently overhauling the uPort Documentation, Guides and Tutorials to more clearly communicate the best methods for relaying signing transactions between the browser application and a server signing capabilities.

[2018-03-19 18:40] KamesCG commented on #106
@safareli You sir are on top of it :)

I wasn't at this specific developer meeting regarding the infura integration, but I would presume these are preventative coding measures for when infura will no longer be free... it's bound to happen :( and DApps might have to supply their own infura key.

I'll double check with developers regarding this unused parameter.

[2018-03-21 11:22] ydennisy opened #111 "Is uport-connect using W3C DID Method?"
Hello!
Is the uport-connect module using W3C DID methods?
I can see a reserved namespace https://w3c-ccg.github.io/did-method-registry/
If the answer is yes, do you plan to expose a HTTP API to create, access these DIDs on ethereum?

[2018-03-21 14:16] oed commented on #111
Hey @ydennisy we are planning on adding this soon. Take a look at our generic did resolver: https://github.com/uport-project/did-resolver/

Can you elaborate what you mean by a http api?

[2018-03-22 08:37] ydennisy commented on #111
Thanks @oed the resolver looks top notch!
By HTTP API, I mean some basic endpoints such as `/registerDid` and `/updateDid` that one can make `GET` calls to create/update uport DIDs?

[2018-03-22 11:45] oed commented on #111
@ydennisy ok, creating a HTTP api like that is not entirely trivial since there is a cost in ether for each created DID.

[2018-03-24 13:24] ydennisy commented on #111
@oed ok, so you mean there would need to be auth and payment mechanism built in?

Is this not the same issue with the SDK approach?

[2018-03-28 01:35] rickwxc opened #114 "My iphone App QR scan keep saying: Identity registration transaction failed"
My iphone(6 plus iOS 11.2.6) App QR scan keep saying: Identity registration transaction failed
here is the screen shot and app details:
I tried uPort app manager and uPort Demo
Please let me if something i missed.

![img_0223](https://user-images.githubusercontent.com/506297/38003552-b68764e0-3283-11e8-8d08-dc9b74b58303.jpg)
![img_0224](https://user-images.githubusercontent.com/506297/38003553-b6c

[2018-03-28 16:24] localredhead commented on #114
Hello @rickwxc thank you for the detailed report.  We are investigating and will get back to you.

[2018-03-28 16:58] oed commented on #111
@localredhead @ajunge @mirceanis Maybe you can provide some clarity here?

[2018-03-29 23:30] jpikon opened #115 "uportConnect.request promise in never resolved"
We have the following configuration:

Server side - **uport-js:**
[code]

Client side - **uport-connect:**
[code]

The problem is that uportConnect.request promise is never being resolved or rejected - after scanning QR code on client side QR code popup stays in apart our server receives confirmation from uPort through callbackUrl with valid user metadata.

We expect that the QR code popup disappe

[2018-04-03 06:08] Kasubramanian commented on #39
Thanks a ton @bdresser

RN wrapper is working as expected and fulfiling our app integration needs👍

[2018-04-07 23:14] KamesCG opened #117 "[BUG] String is Wrapped with Quotes when Initializing Smart Contract Data Storage"
When sending string data to a smart contract function the uPort application wraps my data in unnecessary quotes.

As a User I want my data to persist untouched from Browser=>Smartphone=>Blockchain

Example: `'name'`

Unnecessary quotes are wrapped around my submitted string.

![](https://pbs.twimg.com/media/DaNzkIEXUAA-Uq-.jpg)
![](https://pbs.twimg.com/media/DaNzkIFXcAAT8WY.jpg)

[2018-04-08 10:23] mjdietzx opened #118 "How to easily get uport identity attributes for a specific address"
In my dapp I do something like:

[code]

Here, the user receives a request and approves/rejects this via uport - then i get the info. however, in the future I would expect to be able to get this info (by supplying a uport address) without user approval (because it's coming from my dapp which the user has already approved, as identified by it's signature).

is this already possible, and if so how w

[2018-04-13 16:43] bdresser commented on #114
hi @rickwxc and @eusthace - we had an issue with the infrastructure that handles identity creation as we expanded to support all ethereum testnets. if you created your identity while this infrastructure was down, it's possible your identity got stuck in a bad spot.

could you try the demo.uport.me flow again? if it still doesn't work, you probably weren't onboarded properly - please reset your ide

[2018-04-13 16:46] #109 closed

[2018-04-13 16:47] #106 closed

[2018-04-13 16:48] #39 closed

[2018-04-13 20:29] safareli commented on #109
Are the Guides and Tutorials created already?

[2018-04-13 20:56] pelle commented on #111
@ydennisy You can already do so today, by creating an ethereum address and registering it like this: https://github.com/uport-project/specs/blob/develop/pki/index.md

As we become fully DID spec compliant in our App over the next month we will be launching a few simpler methods, to make it easier for devs to create their own identities in their apps.

[2018-04-13 21:32] KamesCG commented on #109
@safareli we recently posted code at https://github.com/uport-project/buidlbox#private-attestations which demonstrates private attestation issuance using Firebase Database Channels and Firebase Cloud Functions.

The current demo needs to be simplified and modularized for demonstrating private signing transaction, before we broadcast the guides/tutorials. Additionally more guides and examples will

[2018-04-13 21:49] bdresser commented on #109
also getting ready to launch our new documentation - take a look at http://rekt.uport.space/attestcredentials and let us know if the diagrams and clarification help? still needs an extra section on server apps & signing i think

[2018-04-14 14:27] dolebas commented on #97
Having the same issue when trying out demo.uport and appmanager.uport on my android. It opens a new tab in my default browser regardless of which browser uPort is started from.

Copy/pasting the resulting url to the original browser/tab works fine but it would be great to have an open source demo app which works as intended on mobile.

[2018-04-20 16:45] pelle commented on #111
@ydennisy We have a new DID method that we will be rolling out in the app soon. Here is a library that will allow you to create and use the DIDs yourself https://github.com/uport-project/ethr-did

Feel free to re-open if you have more questions.

[2018-04-20 16:45] #111 closed

[2018-04-20 18:27] ydennisy commented on #111
Thanks!

[2018-04-22 13:57] ydennisy opened #120 "High Level Questions: Costs, Private Networks, Traditional Apps"
Hello,

Apologies if this is not the correct forum for this question. I am in the process of choosing an identity management stack for my app, and have the following questions:
1. What are the Ethereum network costs involved when using uPort and long term, who will be paying for them?
2. Is it possible, to connect uPort to a private network? If yes are any provisions provided such as docs?
3. Is i

[2018-04-25 10:22] maroodb opened #121 "Angular : TypeError: _crypto.createHash is not a function\"
Hello World!

When scanning QR code I got this error: **TypeError: _crypto.createHash is not a function\..**
I tried to add ```
"paths": {
  "crypto": ["../node_modules/crypto-browserify/index.js"]
}
[code]

[2018-04-25 12:52] maroodb opened #122 "uPort app manager don't work"
when I try to open this link https://developer.uport.me/myapps.html the page still loading but nothing to show.
it seems like is a bug in your website

[2018-04-25 23:18] joaoaguiam opened #123 "QR code is truncated with the latest commit"
With the latest version available, the QR code generated by uPort is truncated on my application.

<img width="407" alt="screen shot 2018-04-25 at 17 14 26" src="https://user-images.githubusercontent.com/5901730/39277677-2fb32442-48ac-11e8-99aa-5935e894f3e9.png">

Comparing to my previous version, in the latest commit the constant uportModalCSS has been changed to set a fixed width of 400px. By re

[2018-04-26 13:28] zachferland commented on #123
@joaoaguiam thanks for the issue and pointing out the exact line, I'll make a release with the change today

[2018-04-26 14:13] zachferland commented on #123
Fix released in v0.73

[2018-04-26 14:13] #123 closed

[2018-04-27 03:55] joaoaguiam commented on #123
Thank you for the quick fix and release @zachferland

[2018-04-28 10:38] farhaanbukhsh commented on #97
How can I grab the url, can uPort-connect get me the URL through which I can get the access?

[2018-04-28 10:42] oed commented on #122
Strange, I can't reproduce. What happens if you visit: https://appmanager.uport.me/ ?

[2018-04-29 20:34] dolebas commented on #97
Passing data from the android uPort app to an existing browser window/tab seems to require certain conditions explicitly determined by android.

Currently, if Chrome is configured as the default browser and the web app is accessed via Chrome over a https connection, android allows this data flow. But if these conditions are not met, it opens a new default browser window/tab and looses the app stat

[2018-04-30 07:53] scottbrady91 commented on #115
Any news on this one? I'm getting similar behavior from https://github.com/uport-project/uport-js/blob/develop/tutorial/requestcredential.js

[2018-05-01 11:04] grahamturk opened #128 "Contract events and transactions seem to be masked by uPort Proxy"
uPort: 0.7.3
Node: 8.9.4
OS: OSX 10.13.3

In inspecting a transaction-signing method sent to a contract I deployed on Rinkeby, I saw that the two log events are emitted, both coming from the Proxy contract from the uport-identity directory. But the receipt returned by web3's `getTransactionReceipt` method object did not contain any of the events _my contract_ emitted, and the filter I created to w

[2018-05-01 15:17] ydennisy commented on #120
@bdresser any update on this?

[2018-05-01 15:49] bdresser commented on #120
hey @ydennisy ! sorry for the delay -

1. We are moving towards an architecture where identity creation is entirely free on any Ethereum network (both testnets and mainnet). It will still require gas to update the user's identity (key rotation, adding delegates, etc.) and will obviously require gas to sign transactions. You can read more about this new architecture [here](https://github.com/uport-

[2018-05-01 15:51] bdresser commented on #122
@maroodb any update? still seeing the issue, even on the URL oed posted above?

[2018-05-02 19:31] tayzlor opened #132 "Links dont open in app on mobile web unless specifically triggered by a button"
I have a scenario where i'd like to trigger a contract call from mobile web (chrome) off the back of a web payment request (https://developers.google.com/web/fundamentals/payments/) promise (invoked by a button).

The deep link opens correctly if its outside the promise (first called) - but if its nested inside the on complete  it opens the URL in the web browser asking to get the uport app (with

[2018-05-03 07:07] scottbrady91 commented on #115
Any news on this one? I'm getting similar behavior from https://github.com/uport-project/uport-js/blob/develop/tutorial/requestcredential.js

[2018-05-03 10:03] oed commented on #115
Hey, we are working on an update to the libraries that should solve this. Take a look at #129

[2018-05-04 16:31] #120 closed

[2018-05-04 16:35] bdresser commented on #132
@tayzlor could you include a code snippet so we can understand what's happening? and how are you formatting the deep links? iOS or Android?

[2018-05-04 16:37] bdresser commented on #128
@grahamturk are you still having the events issue, or did you resolve?

good call on mentioning hidden internal transactions - we'll add something to the documentation

[2018-05-04 16:38] #122 closed

[2018-05-04 16:39] bdresser commented on #121
hey @maroodb - this comes up as an issue with how Angular does module loading. check out the mention in the readme [here](https://github.com/uport-project/uport-connect#-angular) which should help you resolve.

[2018-05-04 16:39] #121 closed

[2018-05-04 16:42] bdresser commented on #117
thanks for reporting @KamesCG, added to backlog and will report back when it's moving 👍

[2018-05-04 16:44] #114 closed

[2018-05-04 16:47] bdresser commented on #93
thanks @KamesCG! docs have been updated :)

[2018-05-04 16:47] #93 closed

[2018-05-04 16:49] bdresser commented on #92
@zachgoll are you still experiencing this issue? we depend on `mobile-detect` to sniff your device so this may be an issue with their package.

[2018-05-04 16:55] #67 closed

[2018-05-04 18:57] zachgoll commented on #92
@bdresser I have not looked at the project for a good bit of time, so unfortunately I cannot provide you a current update.  I have worked with uPort in different projects (although they were React JS apps) and nothing went wrong with mobile detection.

[2018-05-05 09:09] scottbrady91 commented on #115
Awesome! Any idea of a release date?

[2018-05-07 02:10] fritzy opened #133 "How can I create an off-chain message?"
I'd like to be able to sign things with my credentials signing key. Is there a way to do that?

web3.eth.sign seems to be an RPC function that generates an RPC error (only the default rpc network was working) -- does the private signing key not exist on the client?

[2018-05-07 03:42] KamesCG commented on #133
@fritzy Just to clarify, you want to sign arbitrary data using the uPort Smartphone Application private keys or the private keys generated within the uPort AppManager?

At the current moment it's not possible to sign arbitrary data using the private keys signed on the uPort Mobile Application natively. However, it's possible to sign data using the private key generated in the AppManager, but it wo

[2018-05-17 12:48] RyRy79261 opened #135 "Unable to resolve DID document for did:uport:"
I've followed uport.js's instructions for connecting uport-connect to a node server running uport.js on it.

I get the token I try to log in with uport and I get the error Unable to resolve DID document, I can't find any documentation relating to this error or up to date resources on how these 2 packages are meant to correctly interact.

https://github.com/uport-project/uport-js/issues/44

[2018-05-17 13:00] #135 closed

[2018-05-25 16:24] localredhead commented on #99
Hello!  Are you still seeing this?  If you still see this issue with the latest libraries please let us know.

[2018-05-25 16:24] #99 closed

[2018-05-25 16:45] localredhead commented on #132
@tayzlor Since we haven't heard back, we are going to close this.  If this is still an issue for you can you provide some code snippets to help us investigate?

[2018-05-25 16:45] #132 closed

[2018-05-25 16:52] localredhead commented on #128
@grahamturk Thank you for reporting this, We'll update our documentation in the future to address the hidden transactions.   I will close this for now, pending your feedback that this is still a problem for you.

[2018-05-25 16:52] #128 closed

[2018-05-25 16:54] localredhead commented on #117
![Screen Shot 2018-05-25 at 12.53.52 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5670e3274b7b6413000155b3/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456f66b7191a379ed0c2e52415a4cbc21254d58eeb9cb74fce36f34985619e8836d5b77976f13aab9854aba50ba208a1cd4e5eadb48c0fa2137a5dad11b61435c52dcbd4f3fb29842c259f349e64f53a3113364e67f316e0a.png)

It may be wor

[2018-05-25 16:57] localredhead commented on #103
@safareli thank you fro the feedback.  We are going to close this issue for now, stay tuned for future releases that will address these.

[2018-05-25 16:57] #103 closed

[2018-05-25 16:59] localredhead commented on #90
It seems our JS libs aren't handling this properly.   Adding to the backlog.

[2018-05-25 17:01] localredhead commented on #91
@KamesCG thanks for the feedback!   I'm going close this for now - if our future update for DID-JWT's don't resolve this please re-open this and scream loudly.

[2018-05-25 17:01] #91 closed

[2018-05-25 17:03] localredhead commented on #55
@ticruz38 You are able to test using the SimpleSigner with a private key configured client-side, but we do not recommend this for production.   It's only for demonstration.

FYI we are on Rinkeby at the time.

[2018-05-25 17:03] #55 closed

[2018-05-25 17:06] localredhead commented on #92
@zachgoll Thank you for the feedback.  If you do experience issues please let us know.  This looks like issues with Angular, or mobile-detect possibly.

Closing for now,

[2018-05-25 17:06] #92 closed

[2018-05-25 17:09] localredhead commented on #115
@oed this seems to be an issue with using a custom callback URL w/ uport-connect.

[2018-05-25 17:12] localredhead commented on #133
@fritzy We'd like to answer these questions for you, but we need a bit of feedback from you.   We are going to close this for now, if you need further clarification please re-open this.

[2018-05-25 17:12] #133 closed

[2018-05-29 08:31] maulik-modi opened #137 "Documentation fix: Incorrect link to uport-connect tutorial"
Tutorial link is broken
**Tutorial and Examples**

![incorrect link](https://user-images.githubusercontent.com/34910430/40647044-87e1dc2e-6348-11e8-8f50-7537b7db49c7.png)

[2018-05-29 13:26] localredhead commented on #137
Thank you @maulik-modi we will address this and have a fix out shortly.

[2018-05-29 15:33] localredhead opened #138 "Communications and Transactions tutorial has broken links"
The link to "our docs" in this tutorial has a typo in it, as well as the connect reference information.

[2018-05-29 15:51] localredhead commented on #138
relates to #137

[2018-06-11 06:47] maulik-modi opened #140 "uport App Manager - Application registration issue"
Hello team,

Currently, it is not possible to register application using uPort Application manager, uport-lite 404 error is encountered.
![uport-appmanager](https://user-images.githubusercontent.com/34910430/41215908-11adcc48-6d70-11e8-893c-5aa29aebba35.png)

Here's the real reason for facing this error, uport-lite library is not accessible
![uport-lite](https://user-images.githubusercontent.com/3

[2018-06-11 11:21] KamesCG commented on #140
Hello @maulik-modi

The issue was arising via Infura changing a backend API service. Friday we communicated with the amazing Infura team, regarding the breaking change and have instituted a fix.

Please lear the browser cache you should have no problem logging into the AppManager now

If the problem persists please let me know :)

[2018-06-11 14:06] #140 closed

[2018-06-12 11:26] kyjadhav opened #141 "Integration tutorial not working"
Hello,
I am trying out the tutorial listed in : uport-connect/examples/integration-tutorial.

Whenever I try to connect with uPort through my mobile App, it throws following error in the App :

![screenshot](https://user-images.githubusercontent.com/37531170/41287791-8019fa98-6e61-11e8-901c-a45baff46e79.jpg)

[2018-06-12 18:23] KamesCG commented on #141
This could occur for a couple of reasons @kyjadhav

1. Would you mind sharing the code used to make the credential request.

2. In the AppManager can you click "Save" to ensure the Application has been registered to the IPFS?

[2018-06-13 04:02] localredhead commented on #141
Hi @kyjadhav thank you for reporting this.  I am able to reproduce your issue, and I believe it is due to an update in the Mobile app.

Can you confirm what version you have?  In the mobile app, open the menu in the upper left of the screen > click About > what version do you see?

[2018-06-13 13:37] kyjadhav commented on #141
@localredhead  App version is : 10000334(production)

@KamesCG  1. I am using the exact code of github. Changed nothing in it. Also, I followed the steps mentioned to run it.

2.In AppManager of web interface, the App of "integration tutorial" doesn't appear.
And in the AppManager of mobile App, I get the error for which I have shared the screenshot above.

[2018-06-15 12:52] localredhead commented on #141
Hi @kyjadhav this has been identified as a mobile issue.  We hope to have a fix released shortly.

[2018-06-20 17:12] vongohren commented on #105
@grahamturk did you find a work around to get this to work. Because im touching the same problem now that im trying to get async await out of the box. Then passing in the uportProvider to new web3, but then when doing promise calls, it always ends up in the catch block, but strangely with the actual data, and not the error itself.

[2018-06-25 11:26] pelle opened #145 "uPort Connect should extract hex address from networkAddress and add it to profile"
I observed a room full of developers confused about this.

Lets just parse the network address when receiving credentials and add it and the network Id as `hexAddress` and `networkId`.

[2018-06-27 07:47] vongohren commented on #101
@oed @bdresser im getting this issue with the app now. Running 338 with on android 8.1.0

[2018-06-27 08:29] oed commented on #101
@vongohren Does it happen for a particular tx or all txs?

[2018-06-27 09:07] vongohren commented on #101
@oed it happens for all signt method transactions

[2018-06-27 14:47] localredhead commented on #101
@vongohren just to confirm you are running version 338 and not 348?

348 is the latest in public beta for android - are you able to update and validate this is an issue on that version?

[2018-06-27 17:16] vongohren commented on #101
@localredhead im using 338, not part of the beta program, but can sign in and upgrade to test. But it worked for another android phone on the same version. I can refere to a chat in riot, mobile app channel, where I describe some of the troubles I have had. I would wish for same responstime there as on github btw :)

[2018-06-27 22:52] magician11 opened #146 "Failed to create production build using react-scripts"
It seems there is something wrong with the base64url package that gets installed as a dependent from this uport-connect.

[code]

So while I can run my app in development, when I try and build and deploy it, I can't. This is a major blocking point for sharing our development builds with the team.

Using `npm ls` I see that the chain of dependencies are
uport-connect@0.7.3 <- uport@0.6.2 <- jsontok

[2018-06-28 12:23] sahar-fehri opened #147 "Error while getting uport address"
Hello everyone!
I am new to Uport, i'm trying to follow this tutorial: https://developer.uport.me/uport-connect/guides/tutorial/ in order to get started with it. So i cloned the mentioned repo and followed the mentioned steps in that tutorial. My problem is after i opened the file: uport_tutorial.html in my brower and clicked : connect uport, it did display me the QR code that i have scanned and a

[2018-06-28 14:16] kyjadhav opened #148 "after authentication, not getting details of user registered on mobile App"
Hello,

I am following the [tutorial]( https://developer.uport.me/uport-connect/guides/tutorial#introduction) on:

When I hit, the "connect uPort" button, I get the QR-code popup. Once I scan it through mobile App, I get an error in my index.js in function getCoinbase(error,address).
The error is : "object is undefined".
Unable to fetch any of the parameters in globalState object e.g uPortId, ethA

[2018-06-28 14:28] sahar-fehri commented on #148
hello @kyjadhav ,

I think we are having the same problem , please check this: https://github.com/uport-project/uport-connect/issues/147 , after scanning the QR code, none of the globalState parameters are populated in the UI ...

[2018-06-29 16:35] localredhead commented on #146
@magician11 We saw this issue too in base64url , but we are unable to reproduce it now.  Can you update your local packages and report if it's still an issue?

[2018-06-29 20:03] magician11 commented on #146
@localredhead I just ran ncu and apparently I have the latest package versions.

My package.json file looks like this..

[code]

I just deleted node_modules and the build directory, and re-installed the packages and attempted to re-build.. and I get the same issue with base64url.

[2018-07-04 06:52] vongohren commented on #101
@localredhead @oed any action here? I'm still experiencing these issues, but would like to get an update of the app if you are way further than 338? The app I'm using is working for other uPort profiles, except for mine. My app is still buggy, in terms of what has been mentioned in Riot. When I close the app, it forgets the state I'm in I have to recover again. So it doesn't remember me

[2018-07-06 18:41] lsimkins commented on #135
@RyRy79261 I'm facing the same issue. Did you solve this problem?

[2018-07-06 23:36] myspivey opened #150 "Request: Expose credentials.createRequest JWT from requestCredentials"
Current when calling requestCredentials the resulting JWT from credentials.receive is not stored or exposed in any fashion. It would be great if there were a way to do so, for the purpose of sending to server to be verified as a valid JWT to do other actions off chain such as setting up a third party JWT needed for a hybrid app. Currently the closest you get is pushToken which does not work again

[2018-07-07 16:29] joaoaguiam opened #151 "When computer and phone clocks are not synchronized, logging-in is rejected"
If computer clock is in the future comparing to the phone clock, uPort says "JWT not valid yet (issued in the future) ..."

In my case, the desktop clock was 10.19 and the phone 10.18.

![img_2448](https://user-images.githubusercontent.com/5901730/42412792-5aa5ffd2-81d0-11e8-89fa-af9244db8278.PNG)

Maybe a solution is to have a small threshold accepting 2 to 3 minutes of difference in the JWT time

[2018-07-08 06:19] magician11 commented on #146
If you use `"react-scripts": "2.0.0-next.3e165448"`, this will auto compile incompatible third party modules, and will resolve this issue.

Details [here](https://github.com/facebook/create-react-app/issues/4710).

[2018-07-08 06:19] #146 closed

[2018-07-08 18:28] magician11 opened #152 "Usage with progressive web apps (PWAs)"
In our app our uPort code looks something like this..

[code]

1. From a desktop browser, a QR code is shown, we scan the QR code with the uPort app scanner, and we can authenticate. This works great.

2. In Chrome on an Android, it opens uPort, we authenticate, and it takes us back to that page with the credentials object, and the app goes from there. Also works great.

3. As a PWA, it open the u

[2018-07-16 09:34] magician11 opened #156 "[object ProgressEvent]"
I've been catching this error all day so far when trying to login.

![screen shot 2018-07-16 at 12 32 59 pm](https://user-images.githubusercontent.com/3735849/42751757-6fd35b5e-88f4-11e8-8097-ac17b5b627de.png)

The error message isn't detailed enough for me to know what to do with it. But it's a pretty big deal, as I can't login into our app.

[2018-07-16 20:56] pelle opened #157 "As a user I want some kind of visual indication that a transaction was sent to a my phone"
Users have expressed confusion that they don't know what happens.

Perhaps a small modal dialogue by default, that could be replaced by a function call.

[2018-07-18 12:36] #98 closed

[2018-07-18 12:38] pelle commented on #90
@zachferland this seems like an encoding issue. Can you please verify. If the problem is in the app, please check.

[2018-07-18 12:40] pelle commented on #97
We have a fix coming, which unfortunately is a breaking change. It will be released shortly.

[2018-07-18 12:57] pelle commented on #150
@myspivey thanks for this.

We are working on a major refactoring, which should be ready soon. One of the aspects of it is that it will be a lot easier to separate the sending of request to the app for hybrid apps.

If that doesn't solve your issue, we can see if we can pass in the original JWT as well.

[2018-07-18 12:58] myspivey commented on #150
@pelle sounds great and thanks for getting back to me!

[2018-07-18 13:05] pelle commented on #151
Fixing in other issue. Closing

[2018-07-18 13:05] #151 closed

[2018-07-18 13:31] pelle commented on #118
@zachferland this should be stored together with other user meta data in localstorage

[2018-07-18 13:33] #141 closed

[2018-07-18 13:38] pelle commented on #115
Our new libraries will fix this with better support for hybrid apps. Closing. Should be available by the end of July.

[2018-07-18 13:38] #115 closed

[2018-07-18 13:40] pelle commented on #152
@magician11 we are close to releasing a major new release which has breaking changes. Our promise based approach did not work for Chrome/Android use case, so we had to change it considerably. You can experiment with it now, just be aware that there will be a lot of change on this over the next couple of weeks before we release it #129

[2018-07-18 13:40] #152 closed

[2018-07-18 13:42] pelle commented on #147
@KamesCG can you see if you can help here please?

[2018-07-18 13:43] pelle commented on #148
@KamesCG can you see if you can help here please

[2018-07-20 11:39] subhasisbanik opened #159 "Unable to resolve DID document for did:uport"
Hi,
I am trying to integrate uport-connect to my front end application(basically a html) but whenever I am scanning the QR code in uport app in android mobile, its throwing me "Unable to resolve DID document for did:uport:xxxxx"
Please help.

[2018-07-20 15:14] Eseoghene commented on #159
Hello @subhasisbanik,

When you create the appID on appmanager, you need to click the 'Save Changes' button , scan the QR code and sign the transaction.

Once the transaction is succesfully mined, and displays the 'Transaction completed' message on the app, try scanning the QR code in your app and it should work perfectly.

Please let me know if you still have any issues.

[2018-07-22 01:13] shogochiai commented on #53
+1 for here. What is the relation between`requestToken`, `showRequest`, and this repo?

[2018-07-26 13:12] sahar-fehri commented on #147
Hi @KamesCG

Thank you so much i really appreciate it !

[2018-07-29 19:08] KamesCG commented on #147
To instantiate the example requires inserting a `clientId` and `SimpleSigner` object.

The setup
[code]

should look something like this

[code]

@localredhead Perhaps in the demo we can include a throw away private key and client id?

[2018-07-30 14:29] #145 closed, assigned to localredhead, zachferland

[2018-08-01 15:43] Eseoghene commented on #97
3

[2018-08-01 15:43] Eseoghene commented on #118
3

[2018-08-01 15:43] Eseoghene commented on #157
4

[2018-08-03 16:54] pelle opened #179 "As a user I want to logout to make sure my personal details are not left in the browser"
Add a `logout()` method which clears the state except for the keypair.

In most cases this is what developers would use to wire into their UX.

There should also be a `reset()` which gets rid of all local state including the keypair.

[2018-08-06 15:10] vmaykovsky commented on #105
@oed, do you have a plan to support web3 1.0.0 in the near future? It would be really useful to get async await out of the box.

[2018-08-07 04:31] rmw2 commented on #105
Hey @vmaykovsky! We're currently working on a new major release of uport-connect, and we intend to support web3 1.0.0.  We're finally getting around to some of these issues and should have updates soon!

[2018-08-08 22:48] IAMtheIAM opened #184 "Security concert about requestCredentials signer function"
According to [the docs](https://developer.uport.me/gettingstarted/):

When doing requestCredentials(), The signer property requires a signer function with a private key. The problem is that any JS code send to the browser will now contain that private key. How can this be secured? There must be a better way to sign without exposing such a key. Thanks for any help.

[2018-08-09 00:15] rmw2 commented on #184
Hey @IAMtheIAM, you're right that for a client-side app using the current version of uport-connect, keys will be exposed in the javascript source.  The recommended approach for securely signing attestations is to keep the signing key on a server or in a serverless cloud function, and create signed JWTs with the [uport-js](https://github.com/uport-project/uport-js) library, which can be displayed a

[2018-08-09 14:37] pelle commented on #118
@rmw2 is this already implemented by your work?

[2018-08-09 14:44] rmw2 commented on #118
No, with what I have so far—   We’re caching addresses and public keys/push tokens, but not user attributes— I don’t think this would be too difficult to add though if it’s something we want to support

[2018-08-10 01:46] tmnrkb commented on #135
Has anyone solved this problem? I'm facing as well.

[2018-08-10 13:53] stxphxn commented on #135
@tmnrkb It might be because you haven't clicked save changes on the Uport app manager to initialize it.

[2018-08-10 13:58] #184 closed

[2018-08-12 16:09] juanmeleiro opened #188 "Dead link."
In README, “tutorial for building a simple dapp” is a dead link.

[2018-08-14 13:36] rmw2 commented on #90
Could not quite reproduce this issue with current version of libs, though I suspect it has/had to do with an assumption that the `value` field was given as hex rather than decimal (and web3.toWei() returns numbers in decimal). Interpreting 0.1 Eth (100000000000000000 wei) as hex, gives precisely 295147905179352825856 wei = 295.1479 eth as reported and the other values in the table match this conve

[2018-08-14 13:55] Eseoghene commented on #179
is there a change made to demo that can be used to test this feature?

[2018-08-14 13:59] zachferland commented on #179
@Eseoghene  yup change was made, and recently pushed up to demo.uport.space

[2018-08-18 03:03] #90 closed

[2018-08-20 02:31] pelle opened #190 "Add support for eth_signTypedData in uport subprovider"
See spec https://eips.ethereum.org/EIPS/eip-712

It should convert this call into the SignedTypedData Request specked out in the uport specs.

[2018-08-24 20:58] mi-xu opened #193 "Document returned from `connect.requestDisclosure()` does not look like a full DID doc"
Calling `connect.requestDisclosure()` results in a payload that looks like this:

[code]

- Should `data` and `res.boxPub` be undefined?  If so, can we just omit them from the response?
- It is my understanding that the `res` should be a DID document, but that doesn't seem to be the case.  Is this just because I'm using a legacy mnid identity?  If the response from this function is not supposed to

[2018-08-27 18:07] ferittuncer opened #194 "uPort transactions don't get confirmed since last 20 hours"
uPort transactions started to don't get confirmed since last 20 hours. When I check Etherscan Rinkeby, it can't find tx hash. uPort timeouts after 240 seconds.

Note that this was working fine yesterday and I haven't changed anything in my application.

[2018-08-27 18:30] ferittuncer commented on #194
sensui.uport.me seems to be down.

[2018-08-27 18:42] marc4gov commented on #194
yes, can't make an App in the AppManager

[2018-08-28 12:35] LewisFreitas commented on #194
Same issue!

[2018-08-28 14:12] ajunge commented on #194
Should be fixed now

[2018-08-28 16:26] ferittuncer commented on #194
Yeah it's working!

[2018-08-28 16:32] #194 closed

[2018-09-01 05:46] michaelnagy commented on #147
Hi, I'm also trying to run this example and is not clear where to get this clientId and SimpleSigner objects.

[2018-09-03 17:00] IAMtheIAM commented on #39
What about using NativeScript?

[2018-09-03 17:01] IAMtheIAM opened #197 "How to trigger mobile app from within a NativeScript / native mobile app?"
I see the react-native wrapper project, but how do we use this from a true native mobile app or a NativeScript mobile app? When clicking the button to requestCredentials, it should just open the uPort app on the mobile device. Is there a way to do this?

[2018-09-05 13:57] #179 closed

[2018-09-06 16:35] ishanjoshi02 opened #199 "SimpleSigner is not a function"
Hey guys!

I just started coding my uport integration (truffle react-uport box), and, I'm getting an error like `Uncaught TypeError: (0 , _uportConnect.SimpleSigner) is not a function`

[code]
![screenshot from 2018-09-06 22-04-34](https://user-images.githubusercontent.com/14982214/45171755-df4f1680-b220-11e8-9874-068b52d78dda.png)

When I remove SimpleSigner, I get the same error for `Connect` fu

[2018-09-07 09:18] localredhead commented on #199
Hi @ishanjoshi02 - which version of uPort connect are you running with?

[2018-09-07 09:34] ishanjoshi02 commented on #199
Actually, I updated `uport-connect` to version 0.7.6, and, now I am getting a error like

![screenshot from 2018-09-07 00-54-36](https://user-images.githubusercontent.com/14982214/45210976-bb3a1680-b2ae-11e8-81b5-130a68a856cd.png)

I had uploaded my code on my [Github Repo](https://github.com/ishanjoshi02/Project-INK), and, then I cloned it, and ran `npm install`. That's when I got the error menti

[2018-09-10 09:16] vongohren commented on #147
So yeah it is not very clear in the guidelines, but Kames are right in terms that you need the simple signer with a private key and your clientId.

Right now you can get the stuff needed  @michaelnagy, from:
import { Connect, SimpleSigner } from 'uport-connect';

But in terms of the error, it is a very non descriptive error that does not give a whole lot of information what can have gone wrong.

[2018-09-10 19:53] schowdhuri commented on #199
Hi @ishanjoshi02 ,

Your project is missing a package.json. You did add an Installation.md and package.md (you missed `semantic-ui-react` and `ipfs`, btw) which helps. However, once you setup your project using Truffle, you must commit the entire project directory (including the folders/files generated by Truffle). Any additional packages (eg: `js-cookie`) you need will be added to package.json.

[2018-09-10 19:58] schowdhuri commented on #188
I guess, it should be: https://github.com/uport-project/uport-connect/blob/develop/docs/guides/tutorial.md

[2018-09-10 23:58] ishanjoshi02 commented on #199
I tried doing that, i.e., cloning the repository and running the package.json file, but that broke our code and gave me the error above. That is why `Installation.md` has a workaround for installing the project and its dependencies

[2018-09-11 18:27] schowdhuri commented on #199
@ishanjoshi02 you are definitely missing something. All deps install fine and I get to start the dev server without errors.

Try this:
1. Clone [my fork of your project](https://github.com/schowdhuri/Project-INK)
1. `npm install` and `npm start` (this works for me)

If this resolves your problem, I have created a PR for you to merge: https://github.com/ishanjoshi02/Project-INK/pull/1

[2018-09-11 23:12] ishanjoshi02 commented on #199
It seems to be working!

Thanks @schowdhuri!

I had the same thing before but was breaking the code. But thanks anyways

[2018-09-12 15:08] michaelnagy commented on #147
I was able to run the example, by first folowing the guidelines to generate my app credentials from the getting started page in the developer docs:

https://developer.uport.me/gettingstarted

[2018-09-17 23:21] pelle opened #202 "Write Product Overview Page text for Uport Connect"
We need an overview page which should live in docs/index.md see @localredhead for more details.

First version should include:

## uPort Connect
### Connect your Users Instantly to your Web3 App

- Handle User Login
- Request Ethereum Transaction Signing through Web3 Providers
- Keeps users logged into your dApp
- Quick QR Code and Push Notification flow for Desktop Browsers
- Fast App Linking for

[2018-09-19 20:51] shanshokr commented on #202
Check the status here:

https://docs.google.com/document/d/1O4edPlguSyQaZSN57vaSgIO6oUbUBFa8XefTbQmWhm4/edit#

[2018-09-29 01:58] aerielcruz opened #213 "RN ERROR: undefined is not an object (evaluating 'uport.requestCredentials')"
## React Native Error
I'm using the [react-native-uport-connect](https://github.com/uport-project/react-native-uport-connect) api and I can't seem to get pass this error.

<img width="272" alt="screen shot 2018-09-29 at 9 35 30 am" src="https://user-images.githubusercontent.com/31103697/46239417-0ab1c500-c3cb-11e8-94bb-5b86b6164e3e.png">

## To reproduce error
[code]
Replace `App.js` with this bel

[2018-10-02 04:18] EisenbergEffect opened #215 "Documentation"
I've just found uPort, being relatively new to dApp tech. One thing that seems to be common across the dozens of dApp tech sites I've visited is that documentation is very bad. I think uPort might be what I'm looking for, but I honestly can't tell. I'm trying to build a dApp with no backend. When I read the documentation, I come across this:

---
While it is great for developers not to have a serv

[2018-10-02 04:28] EisenbergEffect commented on #215
As a basic example of what I'm looking for, I'd like to see how to log in a user and then store data for that user in IPFS. When the same user logs in using uPort on another machine, I should be able to bring back the same document from IPFS that was associated with them. As a bonus, if there is some way to ingrate with IPNS to allow the user to create multiple mutable documents in IPFS, associate

[2018-10-03 13:00] #199 closed

[2018-10-03 13:18] Eseoghene commented on #197
Hello IAMtheIAM,

We are currently developing  SDKs for Native Android and iOS.
Here are the repos

https://github.com/uport-project/uport-android-sdk
https://github.com/uport-project/uport-ios-sdk

Please be aware that the sdks are under development, not suitable for production code and could introduce breaking changes at every release

[2018-10-03 13:18] #197 closed

[2018-10-03 13:21] #147 closed

[2018-10-03 16:51] marc4gov opened #216 "Not getting Verifications saved in App"
When I do a
[code]

the attestation is shown in the App, but is not saved under the tab Verifications when clicking Accept.

uport App version 371 (production)

[2018-10-03 18:31] IAMtheIAM opened #217 "Who pays transaction cost for signing transactions?"
When uPort costs to mainnet, who pays the Gas, identity owner or dApp implementing uPort?
Is there a gas cost at all? I couldn't find any specifics on this.

[2018-10-03 19:30] rmw2 commented on #217
Hi @IAMtheIAM, at the moment all mainnet transaction fees are paid by the identity owner signing the transaction.  Identity creation, and other uPort specific functionality is accomplished without needing an on-chain transaction, and so there are no gas fees there.  For dapp-specific transactions In our current architecture, we leave it up to the dapp to implement a way to forward gas costs if the

[2018-10-03 19:30] #217 closed

[2018-10-03 19:33] rmw2 commented on #216
Hi @marc4gov, `credentials.networkAddress` returns a raw ethereum address, and not a DID (the primary identifier type) and so the app will not recognize the ethereum address alone as its identity.  Try using `sub: credentials.did` and see if that works.

In the meantime we are working on improving the UX for attestations with different values in the `sub` field

[2018-10-03 20:21] IAMtheIAM commented on #217
Thank you for the info! This is great to know. Do you know of a way to estimate the gas cost of signing a transaction, and then convert that into USD or any other currency? I'm looking to implement uPort for a business use case, and this was one of the concerns I'm looking to address.

[2018-10-03 20:36] rmw2 commented on #217
The uPort mobile app will do a cost estimation and present that to the user before they approve the transaction. If you'd like to estimate the gas cost before getting to the transaction request, the web3 library contract class (`web3.eth.Contract`) provides an [`estimateGas()`](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#methods-mymethod-estimategas) method for each contract method

[2018-10-04 00:12] EisenbergEffect commented on #215
Thanks for the links @localredhead ! I really appreciate it. I'll read over these during the coming days. 3Box looks particularly interesting since I've been exploring OrbitDB. Right now, I'm basically trying to figure out how to connect all the dots :) If I get something working, I'll be sure to write some tutorials and help spread the word about what you all are doing.

[2018-10-04 12:02] #216 closed

[2018-10-04 12:07] Eseoghene commented on #216
Does that solve your issue? @marc4gov

[2018-10-05 00:13] IAMtheIAM commented on #217
Perfect answer, thank you!

[2018-10-10 11:30] simonas-notcat commented on #213
@aerielcruz were you able to run our RN demo app? https://github.com/uport-project/uport-react-native-demo

Since releasing `react-native-uport-connect`, facebook introduced some breaking changes in their latest RN 0.57. So `react-native init TestProject` will not work untill we update our libraries.

[2018-10-10 11:55] aerielcruz commented on #213
Oh so that's why. Unfortunately no, I can't run [uport-react-native-demo](https://github.com/uport-project/uport-react-native-demo) but I was able to last time.

The [react-native-uport-connect](https://github.com/uport-project/react-native-uport-connect) still works fine though on my `create-react-native-app` project until I add in [nodejs-mobile-react-native](https://github.com/janeasystems/node

[2018-10-12 03:32] EisenbergEffect commented on #215
@localredhead I read through a bunch of content but it still wasn't clear how to do a basic thing:

1. login a user with uPort (not a problem)
1. create a document on ipfs and get back a hash (not a problem)
1. associate the ipfs hash with the uPort identity (no clue how to do this)

It's that third critical step that no one seems to talk much about. So far, I can only see a few options:

1. Use a

[2018-10-12 12:33] rmw2 commented on #190
Closed by #212

[2018-10-12 12:33] #190 closed

[2018-10-12 12:36] rmw2 commented on #157
Resolved in uport-project/uport-transports#12 and uport-project/uport-transports#19

[2018-10-12 12:36] #157 closed

[2018-10-12 12:42] rmw2 commented on #117
Fixed in uport-project/uport-credentials#95

[2018-10-12 12:42] #117 closed

[2018-10-18 16:24] only1sham opened #224 "Error while executing Connect"
I'm following the steps mentioned in this link https://developer.uport.me/gettingstarted
However, when I run the application using node {javascript filename}, I'm getting the following error. Please let me know if I'm missing something here.

TypeError: uportConnect.SimpleSigner is not a function
    at Object.<anonymous> (D:\Blockchain\Use Cases\SSI\uPort\credentials.js:17:26)
    at Module._comp

[2018-10-23 11:56] grsind19 opened #225 "Sending ether from the account, the transaction is not gets created."
I have been exploring the sample example tutorial. - Integration tutorial app

I funded the accounts in Rinkeyby, When I try to do sendTransaction, it opens the QR, I sacn the QR in mobile app.

Scan was successful, but not transaction ID was returned.
var txObj = {from:"0x0ffe54ccbb379e59809e4d72e3ed9a95eca2b90b", to:"0xA20bff21Ef775C292405330Acde45505e7E3B18a", value: 10000000000000000}
  web3.e

[2018-10-23 19:05] rmw2 commented on #225
Hi @grsind19, could you give more information about how to reproduce this issue?  What version of the mobile app and what version of uPort Connect?  We've recently updated both, which should have resolved several bugs using web3 v1 among others.  Also, I'm not seeing in the snippet how exactly you are using uPort Connect -- is the web3 instance created with a `UportSubprovider`?

[2018-10-23 19:28] rmw2 commented on #224
Hi @only1sham, I'm not sure which steps you're referring to on https://developer.uport.me/gettingstarted.  We have just updated our libraries, so it's possible you ended up following a tutorial for the wrong library version.  Either way, `Connect` is intended to be a browser library and does rely on the presence of the `window` object, so it is recommended you try to build and run your app with th

[2018-10-23 19:28] #224 closed

[2018-10-23 19:29] #213 closed

[2018-10-23 19:31] rmw2 commented on #202
Closing this to clean up the issues backlog, feel free to reopen if necessary

[2018-10-23 19:31] #202 closed

[2018-10-23 19:39] rmw2 commented on #193
Could be the legacy identity -- does this happen with an ethr-did?

[2018-10-23 19:41] rmw2 commented on #148
Closing this as we've just released a new version of `uport-connect` with substantial changes.  Feel free to open a new issue if the problem persists

[2018-10-23 19:41] #148 closed

[2018-10-23 19:46] rmw2 commented on #101
I believe this was fixed in 371 -- with all the changes over the last couple weeks, I'll close this, but please open a new one if the problem persists.

[2018-10-23 19:46] #101 closed

[2018-10-23 19:48] rmw2 commented on #97
All of this should be fixed in build 371 of the mobile app, and `uport-connect@1.0`. Please open a new issues if the problem persists

[2018-10-23 19:48] #97 closed

[2018-10-23 19:48] rmw2 commented on #105
At long last, the major release is out.  Feel free to open a new issue if the problem persists !

[2018-10-23 19:48] #105 closed

[2018-10-23 20:39] #188 closed

[2018-10-23 20:45] rmw2 commented on #118
Disclosed JWTs can now be cached on the `Connect` instance in version `1.0`, by writing to `connectInstance.verified` property, which is then persisted in localStorage and restored on subsequent page loads.  Future versions may write disclosed jwts to this property automatically as part of the response handling process, so consider this feature unstable right now.

[2018-10-23 20:45] #118 closed

[2018-10-26 17:47] rmw2 commented on #215
Hey @EisenbergEffect, Sorry this ended up on the back burner for a little while.

The questions you bring up are part of the fundamental difference between web3 and web2 thinking with respect to data storage.  In particular, there is tension between data privacy and accessibility.  Does the data being stored on ipfs need to be accessed by the application without direct interaction with the user? I

[2018-10-26 21:54] EisenbergEffect commented on #215
Thanks for following up @rmw2 No need to apologize. I'm sure you all are pretty busy. I've been leading open source projects for about 13yrs, so I understand :)

In my particular case, I've got two types of data:
1. Data that is private to a single user and only needs to be written or read by that user.
2. Data that is shared by a group of 4 - 6 users. All data needs to be available for all of the

[2018-10-26 23:05] rmw2 commented on #215
Thanks for understanding!

So for case 1, this can be accomplished entirely with verifications -- reads are done with a disclosure request `Connect.requestDisclosure()`, and writes with a verification/attestation, `Connect.sendVerification()`.  It can also definitely be accomplished with a private 3box, which has a more familiar `get`/`set` api.

For the second case, that's a much harder problem t

[2018-10-30 15:51] epm-bt opened #232 "Cannot deploy all the uPort smart contracts"
I run a permissioned Ethereum network at my lab and I am trying to spin a uPort server to run some tests with a relay client.

I am faced with an issue when I create the identity and deploy the smart contracts of uPort. I can see from my block explorer that the two of the contracts (registry and Identity Manager) are perfectly created but I get stuck somewhere on the creation of the remainders. He

[2018-11-05 15:47] #225 closed

[2018-11-05 15:48] rmw2 commented on #225
I'm going to close this for now as I'm unable to reproduce your issue.

@grsind19 Feel free to still respond if you can give more details and I can reopen this issue and try to resolve your problem.

[2018-11-05 15:51] rmw2 commented on #150
Hey @myspivey, our latest libraries were released about two weeks ago. Have a look through the new [documentation](https://developer.uport.me) and feel free to open a new issue if your problem persists!

[2018-11-05 15:51] #150 closed

[2018-11-14 20:19] mi-xu opened #236 "Claim returned by `requestVerificationSignature` has a default expiration period of 24 hours and cannot be configured"
**Steps to reproduce:**
- App requests user to sign an unsigned claim by calling `connect.requestVerificationSignature(unsignedClaim, sub)`
- User approves request in mobile app
- App receives signed claim in response
- Claim automatically expires in 24 hours

**Success criteria:**
- `connect.requestVerificationSignature()` takes an additional param `exp` that is a timestamp of seconds since epoch

[2018-11-20 14:56] rmw2 commented on #236
This was released in uport-connect@1.0.2.  The second argument to `requestVerificationSignature` is now an object containing `{sub, expiresIn}`, where `expiresIn` is the seconds from now that the signed claim should expire

[2018-11-20 15:00] vongohren commented on #236
@rmw2 so for this to "never" expire, we have to set a expirse in seconds many years in the future?
Or is it still with a default 24 hours expires time?

[2018-11-27 05:32] MidnightLightning opened #243 "Including webpacked output file via RequireJS fails to load PubSub module"
When using the distributed files through unpkg or compiling myself from source, I'm encountering an error getting the basic infrastructure working. I'm using RequireJS as my loader, with the following setup:

[code]

The error is in the console, I see

[code]

in the console when the request is fired off, and

[code]

After I scan the QR code with the uPort app. The QR code on the website goes awa

[2018-11-27 14:44] MidnightLightning opened #245 "Create means to get raw JWT from uPort Connect queries"
When integrating with uPort to log users into a web application, traditional web applications track user sessions on the back-end, binding a session to a given user after the person at the keyboard has proved that's who they are (typically with username/password entry).

In doing the uPort disclosure request flow, the `onResponse()` method returns the properties (payload) from the [message JWT](ht

[2018-11-28 12:49] Eseoghene opened #247 "Testing zapier"
Testing zapier link

[2018-11-28 14:33] MidnightLightning opened #249 "Applications not being identified in Android application"
After registering a new application on the https://developer.uport.me site (picking name, network, and "keypair" as the application type), and then creating code in my web application requesting a disclosure from the user (using the same name and network) generates a QR code, but when scanning that QR code, the popup that occurs in the uPort mobile app does not identify the application that is req

[2018-11-30 10:33] Eseoghene opened #250 "testing bug template"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-12-07 20:35] #243 closed

[2018-12-17 14:06] ishanjoshi02 opened #256 "getWeb3 is not a function"
**Describe the bug**
TypeError: uport.getWeb3 is not a function

[2018-12-24 08:39] #256 closed

[2019-01-07 23:45] motez23 opened #258 "" Error: Unsupported DID method: 'ethr' " when requesting disclosure on meteor client side"
When doing a simple disclosure request on the client side of my meteor app, I get the following error:

```Uncaught (in promise) Error: Unsupported DID method: 'ethr'```

using this code:

[code]
[code]

Any clue what this issue might be?

[2019-01-12 20:24] cnusrini opened #259 "uport connect 1.1.1 (window not define ""
Below is my GitHub path:
https://github.com/cnusrini/ethereum_proofofExistence.git

I have declared uport in uportconn.js and imported in home.js in pages .
When I am executing the code, its throwing with the message "window is not an object"

I am using uport-connect 1.1.1

Any help.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2019-01-14 17:52] Akaryatrh opened #261 "Dismiss uport modal throws an error"
**Describe the bug**
If user dismisses uport modalbox containing QRCode, an error is thrown on console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install `uport-connect` npm package `v1.1.1`
2. Call method `uport.requestDisclosure()` on your code
3. Wait for modalbox to pop-in, and click on close icon on top-right corner of modalbox
4. See error on console

**Desktop (please com

[2019-01-23 20:59] JayWelsh commented on #256
@ishanjoshi02 What did you do to fix this? I just ran into the same issue.

[2019-01-23 21:15] JayWelsh commented on #256
Fixed it.

For anyone else who runs into this problem, it seems that getWeb3 has been deprecated.

Instead:

const Web3 = require('web3') //npm install web3
const provider = uport.getProvider()
const web3 = new Web3(provider)

[2019-01-29 18:44] zurfyx commented on #258
Angular here (specifically angular-cli); tested with angular versions 6 and 7.

After testing for a while it seems like the issue comes with `uport-connect` dependencies. Either if you set to `1.0.0-alpha-5` or `1.1.0-alpha.12` (which were working versions at the time), it breaks, probably because their dependencies. For example, `uport-credentials` always comes at the latest `1.1.x` version.

Ful

[2019-01-30 22:42] zurfyx commented on #258
UPDATE

Calling `registerResolver()` seems to solve the issue. For those who are having this issue as well, dependency does not need to be installed manually since`uport-connect` -> `uport-credentials` -> already carries`ethr-did-resolver`.

[code]

The working version [here](https://github.com/zurfyx/angular-uport).

[2019-02-01 11:09] Akaryatrh commented on #258
IMO the issue comes from the package `ethr-did-resolver` on version `0.2.0`. Previously `uport-connect` and `uport-credentials` were using the version `^0.1.0`. And rolling back to `uport-connect` `1.1.0` can't fix the issue while It depends on `uport-credentials` `^1.1.0` that resolves to `1.1.3` (that is using `ethr-did-resolver` on version `0.2.0`).

Issue can also come from package `did-jwt` t

[2019-02-05 17:46] #247 closed

[2019-02-05 17:46] #250 closed

[2019-02-06 23:35] ntutchton opened #264 "sendTransaction will not send more than 0.001 ether"
If I pass `sendTransaction` an object with the `value` parameter of type `string` larger than `"1000000000000000"` (0.001 ether), I do not receive a sign transaction notification on my uPort application.  Scanning the QR code does not prompt the transaction signing window on the app, either.

One of my major gripes in debugging this has been that I cannot find a detailed description of the `sendTr

[2019-02-12 09:25] aijdissanayake opened #266 ""Error: The field to must have byte length of 20""
I'm trying to do a contract interaction with a contract deployed in ropsten test net and I'm getting the above error in the mobile app.

Dapp client side code: (according to the documentation at https://www.npmjs.com/package/uport-connect#quick-start-with-provider-web3 and changed for web3 1.0 )

[code]
Screenshot of the error in mobile app:
![51790088_311710029486437_8631397639339900928_n](https:

[2019-02-12 11:37] aijdissanayake commented on #266
I have selected the account wrong.
Instead `const account = did.substr(9);` using `const account = await uWeb3.eth.getCoinbase();` worked.

[2019-02-13 15:02] soylent opened #267 "Can't resolve 'stream', Can't resolve 'zlib'"
When I add `uport-connect` to an Angular project, I get the following compilation errors:

[code]

Steps to reproduce the behavior:

1. create a new Angular app
[code]
2. Add uport-connect
[code]
3. Start the app
[code]
4. You will see compilation errors

[2019-02-13 20:06] PlakJakub commented on #245
What is the status of this issue? Will the proposed changes be implemented?

In our application I wanted to register / login using uport.

After clicking on the log in button :

1. Client run server method.
2. On server using createDisclosureRequest from 'uport-credentials' create requestToken.
[code]
3. Return requestToken to client.
4. The user with requestToken tries to get the jwt. But jwt can

[2019-02-19 03:06] kyriediculous opened #268 "after initialization uport.loadState() returns undefined"
after initialization `uport.loadState()` returns undefined
`window.localStorage.getItem('connectState')` works fine
`uport.store.get(uport.store.key)` works fine

using uport v1.1.0

![image](https://user-images.githubusercontent.com/22256858/52987408-4d684e00-33fb-11e9-9850-553c36f740de.png)

Initialization
[code]

Usage
[code]

[2019-02-19 12:00] kyriediculous commented on #268
Ah I see, it just sets the state in the current uPort object but does not return anything.
My bad.

[2019-02-19 12:01] #268 closed

[2019-02-19 16:01] rmw2 commented on #268
No worries @kyriediculous -- If you want to access the state, the `connect.state` getter will return the full state object !

[2019-02-20 13:03] kyriediculous opened #269 "Cancelling a request modal results in uncaught error in promise"
**Describe the bug**
Cancelling an authentication request modal (qr) results in an uncaught error.
As a result the function fails silently.

`Uncaught (in promise) Error: Error: Request Cancelled at eval (qr.js?1bb8:133)`

**To Reproduce**
https://github.com/saga-foundation/vueport-box

**Expected behavior**
Reject promise with error  `Error: Request cancelled`

**Screenshots**
This results in the

[2019-02-28 01:28] gesquinca opened #270 "Unresolved dependencies"
I can't get uport-connect to work on a Rollup.js project

Steps to reproduce:

`yarn add uport-connect`

`yarn start`

Then I get this output from the console:
[code]

This is the project I'm trying to integrate uport-connect into:
https://github.com/ConsenSys/rimble-ui

[2019-03-13 14:06] andreataglia opened #271 "Infura connection times out"
Opening uport_tutorial.html in my local machine and trying to login with uPort mobile app, utilis.js at line 570 fails when accessing the infura node. Indeed what I get is:
![image](https://user-images.githubusercontent.com/7479262/54285083-8aaaa080-45a1-11e9-9c03-bc039da24507.png)

[2019-03-13 15:12] #271 closed

[2019-04-01 17:35] alexander-morris opened #273 "https://demo.uport.me/ seems to be broken"
https://demo.uport.me/ currently shows a bunch of errors in the console and seems to fail to allow logins via qr code scanning.

[2019-04-03 15:54] #273 closed

[2019-04-24 15:40] localredhead commented on #236
Hi @malithrw Thank you - we've identified a bug here and are working on a fix.   We will have an update for you soon.

[2019-04-26 22:09] mi-xu commented on #236
@malithrw @vongohren This should be fixed now in [v1.1.10](https://www.npmjs.com/package/uport-connect/v/1.1.10).  The original `{ expiresIn }` option that you were passing in was actually being used to set the expiration time of request message itself, instead of being passed along to the claim being signed.

This still functions the same, but there is now support for an additional `{ rexp }` opt

[2019-04-27 08:40] malithrw commented on #236
@mi-xu That will work! So what is the main difference between `expiresIn` and `rexp` in the new version?

[2019-04-29 14:05] mi-xu commented on #236
@malithrw `expiresIn` is the number of seconds until the verification signature **request message** created by `uport-connect` expires.  `rexp` is a parameter within the request itself that specifies the number of seconds until the **claim being signed** by the mobile app should expire.

Hope this clears it up for you.

Closing this issue now.

[2019-04-29 14:05] #236 closed

[2019-05-08 13:50] Garrett1230 commented on #264
Hi Nathan,

Thanks for reaching out about this issue. Would you be able to update to the most current libraries and mobile app? We haven't been able to reproduce the issue on our end, so the update is likely to help resolve it.

Please let us know if you are still experiencing issues. Or have additional questions.

Best,
Garrett

[2019-05-08 13:52] Garrett1230 commented on #249
Hi Brooks,

This is a known issue on our side and is something we are currently working to fix. We should have something released soon so that the web application with be identified properly in the mobile app.

Please let us know if you have additional questions or comments.

Best,
Garrett

[2019-06-06 11:27] maliiiith opened #281 "getProvider() method now prompts to choose a provider"
This is not entirely a bug but a concern I have regarding the new functionality of `getProvider()` method.

`getProvider()` now prompts to choose a provider if you have any injected providers. I'm wondering why does `uport-connect` lets you pick any injected provider instead of `uport-connect`'s?

I'm trying to see if I can get the default provider without prompting user.

 - OS: MacOS 10.14.5
 -

[2019-06-06 19:07] #269 closed

[2019-07-02 13:06] javaadpatel opened #282 "UPort sendVerification creates multiple verified credentials"
Hi,
I'm learning to use UPort connect so might have missed something obvious, but I am using this code:
[code]
I would like to send another verification at a later time and then update the property 'Rank', but when i send another verification it not overwrite the previous one I sent. On the uPort app there is then two entries in the Credentials tab. Is there a property that i can set to say that t

[2019-07-02 16:40] mirceanis commented on #282
The current spec does not cover this scenario. The credentials are considered valid for the entire interval between `iat` and `exp`. Revocation mechanism could be used but they are not part of verification spec now.

A common way of dealing with this may be to issue credentials that expire faster. Those can later be ignored more easily. Another possible scenario is using an external revocation mec

[2019-07-02 16:40] #282 closed, assigned to nobody

[2019-07-08 18:47] vibern0 opened #284 ""Exceded block gas limit" when sending transaction from uport mobile app"
**Describe the bug**
I'm building a web dapp, and trying to interact only with uport. Although I'm having a problem. When I send the transaction from the mobile app, it takes 3~4 seconds and fails with "Exceded block gas limit".

**To Reproduce**
To simplify, I've created a react app from scratch and added the minimal code (which is below)
Steps to reproduce the behavior:
1. create-react-app
2. in

[2019-07-16 09:09] Shraddha80011 commented on #267
I was facing the same issue as above,but i resolved it by :-npm i stream and npm i zlib

but now i'm facing issue : ERROR in ./node_modules/zlib/lib/zlib.js
Module not found: Error: Can't resolve './zlib_bindings' in '/home/codezeros-developer/Desktop/shraddha/did/demo/test/test1/node_modules/zlib/lib'.

Any help regarding this is appreciated.

[2019-07-31 20:02] javaadpatel opened #286 "Get Ethereum Accounts for Signing"
Hi,
Is there a way to get the list of the "Ethereum accounts for signing" that is shown in uPort mobile app?
I'm new to using uPort and i saw that when you requestDisclosure you can set the accountType property which would create a proxy contract for the user to interact with your dApp, as:
[code]
but i only want to do this if the user doesn't have a proxy contract set up already, that is why i'd

[2019-10-08 09:14] vongohren commented on #281
<img width="1448" alt="Screenshot 2019-10-08 at 11 13 45" src="https://user-images.githubusercontent.com/1012055/66383131-bd443c80-e9bc-11e9-88e2-b60e72956723.png">

[2019-10-17 08:09] maliiiith commented on #281
Is there a way to set uPort as the default provider and skip the prompt?

[2019-10-21 14:12] vongohren commented on #281
Some updates on this:
The documentation on resolving for did and ethr did is a bit off. After updating things are not working as expected.
We have this code right here: https://codesandbox.io/embed/goofy-leaf-lrnyv
Also see comments from last developer
<img width="645" alt="Screenshot 2019-10-21 at 09 15 42" src="https://user-images.githubusercontent.com/1012055/67213012-44e17080-f3eb-11e9-8043-36

[2019-11-07 12:54] vongohren commented on #281
Since everybody is so active here, I just want to update on this.
We have changed the code so it uses new libs. All is good.
But the newest version of ethr-did-resolver builds .ejs files in dist, which breakes the frontend usage of this package. See picture for log of conversation with mircea.

<img width="1266" alt="Screenshot 2019-11-07 at 13 53 17" src="https://user-images.githubusercontent.com

[2019-11-07 12:55] vongohren commented on #281
This way and resolving like this, we dont need uport-connect in the app afterall. We have been doing backend creation of the nessercary app connections

[2019-12-31 12:00] mirceanis commented on #286
The default for accountType is `general` which means, user's choice.
They should get the option to create a new one if there isn't one available.

Please reopen if this does not solve your issue

[2019-12-31 12:00] #286 closed, assigned to nobody

[2020-01-22 15:40] eusthace811 opened #294 "Can't login"
**Describe the bug**
For some reason, login using uport connect stopped working. I am not getting any notification after read QR using the mobile app so it's impossible for me to access my app.

It was working until yesterday.

I am using uport-connect 1.1.1.

**Smartphone:**
 - Device: iPhone 7 Plus
 - OS: iOS 12.4
 - Version: 480 production

**Additional context**
[code]

[2020-01-22 16:06] mirceanis commented on #294
Thank you for reporting.
It is a known issue and we're working on it.
The fix in the mobile app is rolling out as I write this, please update when it becomes available.

[2020-01-22 16:55] mirceanis commented on #294
It looks like there need to be changes here too, not only in the mobile app: https://github.com/uport-project/uport-connect/blob/6f0185d5788047b2ba9a2d98c2a8a2433d4e29d8/src/Connect.js#L215

`verifyJWT` will expect a `Resolver`

[2020-01-22 16:56] eusthace811 commented on #294
Ok, let me know and I will update lib and mobile app. Thanks for you help!

[2020-01-23 08:51] simonas-notcat commented on #294
@mirceanis here is a solution that does not involve any changes to `uport-connect`

[code]

[2020-01-23 09:22] mirceanis commented on #294
@simonas-notcat Right!
Thanks for coming up with this. It is usable as a temporary workaround.

However, this works for the wrong reasons, and will break under some situations. It overrides the global resolver registry with a configured `ethr-did-resolver` through the internal `Credentials` instance.

To anyone that is using this workaround, this only works with the following constellation of libr

[2020-01-28 11:18] eusthace811 commented on #294
Looks like its working after the last update, right?

[2020-01-29 08:19] mirceanis commented on #294
The broken URL that was causing the issue has been temporarily reinstated. A more permanent solution involves configuring the resolver used during verification.
The mobile app has also been patched with a configured resolver but the rest of the libraries will need this as well.

The next version of this lib will expect a resolver during initialization. Stay tuned for the next release with configur

[2020-02-08 08:22] RockWu1108 opened #297 "why can't connect with uport"
<img width="1910" alt="截圖 2020-02-08 下午4 20 22" src="https://user-images.githubusercontent.com/43211641/74081921-3220a380-4a8f-11ea-8073-2194fc5565e4.png">

![image](https://user-images.githubusercontent.com/43211641/74081919-2503b480-4a8f-11ea-9efd-a954be73e8a7.png)

[2020-02-11 14:36] mirceanis commented on #297
Looks like this error is being caused by rate-limiting from the RPC endpoint (HTTP 429 - too many requests)

This is likely to happen if you are using the default settings in uport-connect.

You can mitigate this by specifying a particular RPC endpoint to be used, like the workaround described in this comment: https://github.com/uport-project/uport-connect/issues/294#issuecomment-577584735

Closin

[2020-02-11 14:36] #297 closed, assigned to nobody

[2020-04-16 01:58] vinybnb opened #298 "Error EthrDIDResolver requires a provider configuration for at least one network"
Here is my code:
[code]
MyApp is registered on https://developer.uport.me/myapps/ and uPort mobile app.
Get Error:

What's wrong with my code?

[2020-04-16 02:02] vinybnb opened #299 "uPort App Manager is not working"
![error3](https://user-images.githubusercontent.com/5296310/79406245-bc6e1200-7fc0-11ea-9f05-e8d07098fef6.png)
I need clientId and signing key to connect uPort but uPort app manager is not working. How can I overcome it?

[2020-04-16 02:05] vinybnb opened #300 "SimpeSigner: TypeError: Object(...) is not a function"
[code]
What's wrong with my code?

[2020-05-13 12:40] gemcutterjp opened #301 "Error: No DID resolver has been configured"
**Describe the bug**
Error: No DID resolver has been configured

**To Reproduce**
1. Run the below code.
[code]

2. Scan the QR code with Uport ID mobile app.
3. Touch 'SHARE' on Uport ID mobile app after notification.
4. Throws an error below:
[code]

**Expected behavior**
uport.onResponse returns without error.

**Screenshots**
n/a

**Desktop:**
 - OS: macOS Catalina v10.15.4
 - Browser: Chrome

[2020-05-14 01:35] gemcutterjp commented on #301
I found the problem by myself.
The following code fixes it.
[code]

Let me share how this problem happened, since I would not be the only one who would walk the same path.
I am new to uport-connect and referenced the introduction site https://developer.uport.me/connect/login#create-authentication-functionality

I simply followed the example code shown in the site where no argument is given to requ

[2020-05-14 01:35] #301 closed, assigned to nobody

[2020-05-14 01:45] gemcutterjp commented on #298
I also got the same error and something like below fixed my problem.
[code]
This is in the reference doc below.
https://github.com/uport-project/uport-connect/blob/develop/docs/reference/index.md

[2020-05-27 08:38] ilovelili opened #302 "Can't register app by scanning QR code"
**Describe the bug**
I clicked the 'Connect with uPort' on appmanager site (`https://appmanager.uport.me/`), then scanned the QR code on my uPort mobile application, and then nothing happens. The register page should show up though. I got the error message like `Error: [ethjs-query] while formatting outputs from RPC '{"value":{"code":-32002,"message":"rejected due to project ID settings"}}'` in Ch

[2020-05-28 06:48] #302 closed, assigned to nobody

[2021-03-19 14:40] humanman opened #312 "Site fails to redirect after logging in from phone app. log message: "rejected due to project ID settings""
**Describe the bug**
After creating a uPort profile via iOS app. I went to the https://appmanager.uport.me/ page to register a new app.
I read the QR code displayed on the screen with my mobile device, I logged in on my phone. The page did not redirect. Nothing happens. I read the console log errors of my browser, and saw this:
`main.8a84f7ee0ba9f7c31705.js:30 Uncaught (in promise) Error: [ethjs-q

[2021-03-19 15:11] #312 closed, assigned to nobody